.simplified-enter-button {
  padding: 17px 30px;
  border-radius: 45px;
  cursor: pointer;
  background-color: #004185;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  text-align: center; 
}



.enter-button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px #b7cbe0 solid;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.enter-button:hover {
  border: 0px;
  letter-spacing: 3px;
  background-color: #004185;
  color: hsl(0, 0%, 100%);
  box-shadow: #004185 0px 7px 29px 0px;
  transition: 1000ms
}

.enter-button:active {
  border: 0px;
  letter-spacing: 3px;
  background-color: #004185;
  color: hsl(0, 0%, 100%);
  box-shadow: #004185 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.custom-btn {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
  }

  .custom-btn-chng {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
    #a5195b,
        #fa94c4,
        #e85198,
        #a5195b);
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: #F7FFF6;
    background: #F7ACCF;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  
  button:hover {
    filter: brightness(105%);
  }
  
  button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  
  button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  
  button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  button:focus:not(:focus-visible) {
    outline: none;
  }
  