.black-layouts {
    background-color: #222831 !important;

}

.gray-layouts {
    background-color: #393E46 !important;
}



.dark-blue-layouts {
    background-color: #000D47 !important;
}

.blue-layouts {
    background-color: #004185 !important;
}

.light-blue-layouts {
    background-color: #3282B8 !important;
}

.yellow-layouts {
    background-color: #F8B500 !important;
}

.white-layouts {
    background-color: #EEEEEE !important;
}

.black-colors {
    color: #222831 !important;
}

.gray-colors {
    color: #393E46 !important;
}

.dark-blue-colors {
    color: #000D47 !important;
}

.blue-colors {
    color: #004185 !important;
}

.light-blue-colors {
    color: #3282B8 !important;
}

.yellow-colors {
    color: #F8B500 !important;
}

.white-colors {
    color: #EEEEEE !important;
}

